html,
body {
	padding: 0;
	margin: 0;
}

body {
	font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
	text-align: center;
}

header {
	width: 100%;
	margin-top: 10px;
}

header h1 {
	width: 100%;

	margin: 0;
	padding: 0;

	font-size: 60px;
	font-weight: 100;
}

#dropZone  {
	width: 100% - 20px;
	height: 200px;

	margin: 10px;
	border-radius: 10px;

	background: #EEEEEE;
}

#dropInstruction {
	position: relative;
	top: 50%;
	transform: translateY(-50%);

	display: inline-block;
	pointer-events: none;
}

#portsAvailable>select {
	margin: 10px;
	    width: 250px;
}

#progressInformation {
	width: 100% - 20px;
	height: 20;
}

#actionButtons {
	width: 100% - 20px;
	height: 20;
	margin: 10px;
}

#updateButton,#cancelButton {
	padding: 15px 32px;

	margin: 4px;
	margin-top: 10px;

	border-radius: 10px;
	border: none;
	color: white;

	text-decoration: none;
	display: inline-block;
	font-size: 16px;

	cursor: pointer;
}

#updateButton:disabled, #cancelButton:disabled {
	background-color: lightgrey;
}

#updateButton:enabled, #cancelButton:enabled {
	background-color: #4CAF50;
}

#output {
	width: 100% - 20px;
	height: 20;
	margin: 10px;
}

#completeOutput {
	background: #EEEEEE;

	width: 100% - 20px;
	height: 200px;
	padding: 10px;
	border-radius: 10px;

	text-align: left;
	font-family: Courier, 'New Courier', monospace;
	font-size: 8px;
	word-wrap: break-word;
    overflow: scroll;
}
